# file formats
*.mp3
*.pdf

# folders
MusAV/
test-data/
models/
.ipynb_checkpoints/
__pycache__/
notebooks/
graphs/

# IDE
pyrightconfig.json
.ropeproject/
.DS_Store

# files:
assignment_instructions.md
data/files_audio
data/files_essentia_effnet-discogs.jsonl
data/files_essentia_effnet-discogs.jsonl.pickle
